# Log files
*.log
*.txt

# Gurobi models
*.lp

# Episode track
*.npy

!/data/input/rot/distr/**

# Python Cache
**/__pycache__

# IDE
.vscode/
.idea/

# Images
*.png
*.jpg

# Results
data/output/
tuning/

# Tuning settings
data/input/tuning/
